@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(135deg, #15358a, #904bb8);
}

.blue-color {
    color: blue;
}

.green-color {
    color: rgb(163 230 53)
}

.teal-color {
    color: teal;
}

.yellow-color {
    color: yellow;
}

.red-color {
    color: red;
}

.white-color {
    color: white;
}

.purple-input {
    accent-color: #904bb8;
}